* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --lightGray: #f6f8fa;
  --gray: #d8dee4;
}

header {
  background-color: var(--lightGray);
  border-bottom: 2px solid var(--gray);
  text-align: center;
}

main {
  margin: 1vh 1vw;
}

.bookCard {
  width: 250px;
  height: 250px;
  border: 3px solid var(--gray);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 1vw;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.bookCard__data {
  display: grid;
  grid-template-areas: "key value";
  grid-template-columns: max-content max-content;
  gap: 1rem;
  text-align: left;
}

#bookCard__data__isChecked {
  width: min-content;
}
